* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    padding-top: 217px;
    background-image: url(./img/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-wrap: wrap;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}

.description {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: grey;
}

.link {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    background: #9C0332;
    border: none;
    width: 234.06px;
    height: 48.6px;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer {
    background-image: url(./img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 556px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.game {
    width: 377px;
    height: 300px;
    border-radius: 16px;


    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgwrapper {
    width: 313px;
    height: 236px;
    display: flex;
    justify-content: start;
    align-items: end;
}

.game:nth-child(1) {
    background: url(./img/game1.jpg);
    background-repeat: no-repeat;
}

.game:nth-child(2) {
    background: url(./img/game2.jpg);
    background-repeat: no-repeat;
}

.game:nth-child(3) {
    background: url(./img/game3.jpg);
    background-repeat: no-repeat;
}